.ax_default {
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.placeholder {
}
._标题 {
  font-family:'演示佛系体 Bold', '演示佛系体 Regular', '演示佛系体', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:60px;
  color:#FFB44A;
}
._序号 {
  font-family:'江西拙楷', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:66px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:left;
}
._二级标题哈 {
  font-family:'站酷小薇LOGO体 Bold', '站酷小薇LOGO体 常规', '站酷小薇LOGO体', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:30px;
  letter-spacing:-5.6px;
  color:#5D4D35;
}
._正文哈 {
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:left;
}
._五级标题 {
  font-family:'';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.tree_node {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
textarea, select, input, button { outline: none; }
